[submodule "4-to-1-Multiplexer"]
	path = 4-to-1-Multiplexer
	url = https://github.com/stevenhernandezz/4-to-1-Multiplexer
[submodule "Half-Adder-Full-Adder"]
	path = Half-Adder-Full-Adder
	url = https://github.com/stevenhernandezz/Half-Adder-Full-Adder
