[submodule "4-to-1-Multiplexer"]
	path = 4-to-1-Multiplexer
	url = https://github.com/stevenhernandezz/4-to-1-Multiplexer
[submodule "Half-Adder-Full-Adder"]
	path = Half-Adder-Full-Adder
	url = https://github.com/stevenhernandezz/Half-Adder-Full-Adder
[submodule "Delays-for-Primitives"]
	path = Delays-for-Primitives
	url = https://github.com/stevenhernandezz/Delays-for-Primitives
[submodule "Edge-Triggered-Flip-Flop"]
	path = Edge-Triggered-Flip-Flop
	url = https://github.com/stevenhernandezz/Edge-Triggered-Flip-Flop
[submodule "8-Bit-Up-Counter-"]
	path = 8-Bit-Up-Counter-
	url = https://github.com/stevenhernandezz/8-Bit-Up-Counter-
[submodule "Scalable-Multiplexer"]
	path = Scalable-Multiplexer
	url = https://github.com/stevenhernandezz/Scalable-Multiplexer
[submodule "Register-File-Models"]
	path = Register-File-Models
	url = https://github.com/stevenhernandezz/Register-File-Models
[submodule "Sum-of-Products-"]
	path = Sum-of-Products-
	url = https://github.com/stevenhernandezz/Sum-of-Products-
